.AnswerBtn {
    margin: 3px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;

}

.correct:disabled {
    border: 3px;
    border-style: solid;
    border-color: green;
}

.selected {
    border: 3px;
    border-style: solid;
    border-color: red;
}