.Results {
    height: 100%;
    width: 100%;

    --testBorder: 1px;
    --testBorder-style: solid;
}

.Results-winner {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}

.Results-losers {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;

    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}

.Results-pic {
    width: 74px;
    height: 74px;
    margin: 2px;
}

.Results-Loser {
    zoom: 0.65;
}

.Results-pic-0 {
    background: url("avatars_scaled.jpg") 0 0;
}

.Results-pic-1 {
    background: url("avatars_scaled.jpg") 75px 0;
}

.Results-pic-2 {
    background: url("avatars_scaled.jpg") 149px 0;
}

.Results-pic-3 {
    background: url("avatars_scaled.jpg") 223px 0;
}

.Results-pic-4 {
    background: url("avatars_scaled.jpg") 297px 0;
}

.Results-pic-5 {
    background: url("avatars_scaled.jpg") 371px 0;
}

.Results-pic-6 {
    background: url("avatars_scaled.jpg") 445px 0;
}

.Results-pic-7 {
    background: url("avatars_scaled.jpg") 519px 0;
}

.Results-pic-8 {
    background: url("avatars_scaled.jpg") 593 0;
}