:root {
  --primaryBackground: rgb(232, 248, 255);

  --color1: #FFF834;
  --color2: #5603AD;
  --color3: #F86624;
  --color4: #D90368;
  --color5: #05A8AA;

  --testBorder: 1px;
  --testBorder-style: solid;

  background-color: var(--primaryBackground);
}

@font-face {
  font-family: "LuckiestGuy";
  src: local("LuckiestGuy"), url(./fonts/LuckiestGuy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pangolin";
  src: local("Pangolin"), url(./fonts/Pangolin-Regular.ttf) format("truetype");
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: var(--color1);
  color: var(--color2);
  border: 3px solid var(--color2);
  border-radius: 50px;
  padding: 0.3rem 1rem;
  font-family: Pangolin;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s, ease-in-out;
}

input {
  border-radius: 10px;
  padding: 5px;
}

label {
  padding: 5px;
}

.App-link {
  color: #61dafb;
}