.Home {
    background-color: var(--primaryBackground);
    font-family: Pangolin;
    margin-top: 20%;
}

.Home button {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 65px;
    margin: 20px;
    margin-bottom: 30px;
    font-family: LuckiestGuy;
    color: var(--color1);
    text-shadow: 0 0 9px black;
}

.row {
    margin: 10px;
}



.danger {
    color: #e62e00;
}

.Home-newGameBtn {
    font-size: 24px;
}