:root {
    --leftRightWidth: 20%;
    --topHeight: 40%;
    --midHeight: 60%;
    --bottomHeight: 20%;
    --messageHeight: 6%;
    --midWidth: 60%;
    --leftRightHeight: 110%;
}

.Layout {
    --leftRightWidth: 20%;
    --topHeight: 40%;
    --midHeight: 60%;
    --bottomHeight: 20%;
    --messageHeight: 6%;
    --midWidth: 60%;
    --leftRightHeight: 110%;


    height: 90%;
    display: flex;
    justify-content: center;
}

.Layout-left {
    width: var(--leftRightWidth);
    height: var(--leftRightHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}

.Layout-right {
    width: var(--leftRightWidth);
    height: var(--leftRightHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}

.Layout-mid {
    width: var(--midWidth);
    height: 80%;
    display: flex;
    flex-direction: column;

    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}

.Layout-mid-top {
    display: flex;
    justify-content: center;
    height: var(--topHeight);
}

.Layout-mid-center {
    height: var(--midHeight);

    /* border: var(--testBorder);
    border-style: var(--testBorder-style); */
}