.MessageBox {
    --testBorder: 1px;
    --testBorder-style: solid;

    margin: auto;
    width: var(--midWidth);
    height: 20%;
    
    position: fixed;
    bottom: 0;
    left: var(--leftRightWidth);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MessageBox-btn {
    margin: 3px;
}

.MessageBox-chatMsg {
    width: 80%;
}

.MessageBox-messages {
    height: 80%;
    width: 90%;
    text-align: left;
    border-radius: 7px;

    border: 1px;
    border-style: solid;

    display: flex;
    flex-direction: column-reverse;
}

.MessageBox-messages-list {
    height: 100%;
    list-style-type: none;
    overflow-y: auto;
}

.MessageBox-form {
    width: 80%;
}
