/* :root {
    --testBorderPlayer: 2px;
    --testBorderPlayer-style: solid;
} */

.Player-Card {

    min-width: 200px;
    max-width: 200px;
    border: var(--testBorderPlayer);
    border-style: var(--testBorderPlayer-style);
    padding: 5px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Player-Card-topBottom {
    max-height: 100%;
}

.Player-Card-leftRight {
    max-height: 45%;
    min-height: 240px;
}

.Player-Card-status {
    margin: 5px;
    height: 21px;
}